body {
  background: lightgrey;
}
.container {
  text-align: center;
}
.one {
  background: lavender;
}
.two {
  background: lawngreen;
}
.three {
  background: lightcyan;
}
.four {
  background: gold;
}
.five {
  background: darkgrey;
}
.six {
  background: mediumseagreen;
}
