body {
  background: lightgrey;
}
.container {
  text-align: center;
}
.header {
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  background: rgba(180, 23, 23, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  background: lightsalmon;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background: brown;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(2, 1fr);
}

/* if we want content to acquire more space than menu by adding columns, we can do it by the following way */
* {
  margin: 0;
}
.container {
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
  /* alternate way to do the same thing what we did in in positioning is by using tempalate areas */
}
.header {
  grid-area: h;
}
.content {
  grid-area: c;
}
.menu {
  grid-area: m;
}
.footer {
  grid-area: f;
}
.container {
  /*  we create strings for each of the row to use grid-area property */
  /* the areas should have a rectangular format otherwise layout will break */
  grid-template-areas:
    "m h h h h h h h h h h h"
    "m c c c c c c c c c c c"
    "f f f f f f f f f f f f";
  /* each of the row contain 12 columns */
}
