.breadcrumb{
    background-color: #515161;
    border-radius: 0;


}

a,a:hover{
    color: #AEBD38;

}
nav{
    position: fixed;
    top: 0;
    width: 100%;
}

table{
    color: #68829E;
    margin: 100px 10px;

}

thead{
    background-color: #68829E;
    color: white;
    cursor: pointer;
}

tbody ion-icon{
    font-size: 24px;
    color: #68829E;

}

/* tbody{
    display: block;
    height:350px;
    overflow-y: scroll;

} */

thead,tbody tr{
    display: table;
    table-layout: fixed;
    width: 100%;
}


#style-2::-webkit-scrollbar
{
	width: 10px;
	
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #cecece;
}


.scrollbar
{
	float: left;
	height: 300px;
	overflow-y: scroll;
	/* margin-bottom: 25px; */
}

